html,
body,
#root {
   height: 100%;
   margin: 0;
}

.grid-container {
   display: grid;
   width: 700px;
   height: 400px;
   grid-template-rows: 1fr 200px 1fr;
   grid-template-columns: 1fr 1fr;
   row-gap: 20px;
   column-gap: 20px;
}

.grid-container div {
   background-color: #DAA520;
}